body{
	font-family:"Lucida Grande", arial, sans-serif;
	background:#262626;
	margin: 0;
	padding: 0;
}
#left{
	width: 20%;
	float: left;
	display: inline;
}

#center {
	margin-left: 24%;'
	width: 65%;
	display: inline;
	position: fixed !important;
}

#right {
	width: 40%;
	float: right;
	display: inline;
}

ul{
	margin:0;
	padding:0;
}

li{
	width:100px;
	height:50px;
	float:right;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

a{
	color:#FFF;
	text-decoration:none;
}

/*Menu Color Classes*/
.green{background:#6AA63B;}
.yellow{background:#FBC700;}
.red{background:#D52100;}
.purple{background:#5122B4;}
.blue{background:#0292C0;}

#info {
	clear: both;
	width: 100%;
	top: 85px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
}
#notification, #userInfo {
	float: right;
}
#notification {
	width: 50px;
}
.alert, .user {
	font-size: 22px;
}
.spot {
	margin-left: -8px;
	font-size: 16px;
	background: #ff0000;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	width: 18px; 
}
#userInfo {
	width: 120px;
	margin-right: 8px;
	text-align: right;
}
.userName {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	padding-left: 10px;
}