.filter-panel .x-panel-body-default {
	background: #212121 none repeat scroll 0 0;
	border-color: #333;
	color: #114b7d;
}
.filter-panel .x-form-item-label {
    color: #508eeb;
}
.results-grid .x-grid-row .x-grid-cell {
	background-color: #555;
	border-bottom-color: #444;
	border-top-color: #444;
	color: #ddd;
}
.results-grid .x-grid-row-alt .x-grid-cell {
	background-color: #777;
	color: #000;
}
.results-grid .x-grid-row-over .x-grid-cell {
	background-color: #508eeb;
	border-bottom-color: #3a67ab;
	border-bottom-style: dashed;
	border-top-color: #3a67ab;
	border-top-style: dashed;
}
.results-grid .x-grid-row-selected .x-grid-cell { 
    background-color: #50eb5d !important; 
    border-bottom-color: #35963d; 
    border-bottom-style: solid; 
    border-top-color: #35963d; 
    border-top-style: solid; 
    color: #000;
}
.x-panel-header-default-top {
	box-shadow: 0 1px 0 0 #555 inset;
}
.x-panel-header-default {
    background-color: #333;
    background-image: none;
}
.x-panel-header-default {
    border: 1px solid #555;
    font-size: 11px;
}
.x-panel-header-text-container-default{
	color: #ddd;
}
.results-grid .x-panel-body-default {
	border-color: #333;
}
.results-grid .x-grid-header-ct {
	background-color: #eb7c50;
	background-image: none;
	border-color: #222 #222 #333;
	border-image: none;
}
.results-grid .x-column-header {
	background-color: #eb7c50;
	background-image: none;
	border-right: 1px solid #555;
}
.results-grid .x-grid-body{
	background: #222 none repeat scroll 0 0;
	border-top-color: #333;
	border-bottom-color: #333;
}
.x-toolbar-default {
	background-color: #222;
	background-image: none;
	border-color: #333;
}
.x-btn-default-toolbar-small {
	background-color: #337ab7;
}
.x-btn-default-toolbar-small .x-btn-glyph {
    color: #000;
}
.x-btn-default-toolbar-small .x-btn-inner {
    color: #fff;
}
.x-btn-default-toolbar-small-over {
	background-color: #7a7a7a !important;
	text-decoration: none;
	background-image: none;
}
.x-btn-default-toolbar-small-focus {
	background-color: #42b733 !important;
	text-decoration: none;
	background-image: none;
}
a {
	outline: none !important;
	text-decoration: none;
}
a:hover {
	outline: none !important;
	text-decoration: none;
}
.details{
	position: absolute;
	right: 0;
	top: 175px;
	height: 40px;
	width: 40px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index:5; 
	overflow:hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.details-bar {
	position: fixed;
	top: 155px;
	float: right;
	height: 60px;
	width: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.26);
	z-index:10; 
	overflow:hidden;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.details li a{
	display: block;
	height: 5em;
	width: 5em;
	line-height: 3.5em;
	right: 1em;
	text-align:center;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}
.details li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.details li a:before {
	font-family: FontAwesome;
	speak: none;
	text-indent: 0em;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.details li a.home:before {
	content: "\f039";
}
.details li a:hover,
.details-bar li a:hover,
.details li:first-child a {
	background: #267fdd;
	color: #fff;
}
.details-bar{
	overflow:hidden;
	right:0;
	z-index:5;
	width:0;
	height:0;
	transition: all 0.1s ease-in-out;
}

.details{
	transition: all 0.1s ease-in-out;
}
.details-bar li a{
	cursor: default;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align:center;
	color: #72739f;
	text-decoration:none; 
	position: relative;
	font-family:verdana;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}

.details li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.details-bar li:first-child a{
	height:5em;
	background: #267fdd;
	color: #fff; 
	line-height:5;
}
.open{
	width:500px;
	height:700px;
}
@media all and (max-width: 500px) {
	.details{
		height:5em;
		width:100%;
	}
	.details li{
		display:inline-block;
		float:right;
	}
	.details-bar li a{
		width:100%;
	}
	.details-bar{
		width:100%;
		right:0;
		height:0;
	}    
	.open{
		width:100%;
		height:auto;
	}
}
@media screen and (max-height: 34em){
	.details li,
	.details-bar {
		font-size:70%;
	}
}
@media screen and (max-height: 34em) and (max-width: 500px){
	.details{
		height:3.5em;
	}
}
.details-bar:hover {
	background: rgba(0, 0, 0, 0.73);
}
.detailsContents {
	padding: 20px;
	color: #fff;
}
.edit-switch {
	float: right;
	margin-top: -60px;
	margin-right: -10px;
	color: #103A66;
}
.add{
	position: absolute;
	right: 0;
	top: 175px;
	height: 40px;
	width: 40px;
	list-style-type: none;
	margin: 42px 0 0;
	padding: 0;
	z-index:5; 
	overflow:hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.add-bar {
	position: fixed;
	top: 217px;
	float: right;
	height: 60px;
	width: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.26);
	z-index:10; 
	overflow:hidden;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.add li a{
	display: block;
	height: 5em;
	width: 5em;
	line-height: 3.5em;
	right: 1em;
	margin-top:-175px;
	text-align:center;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}
.add li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.add li a:before {
	font-family: FontAwesome;
	speak: none;
	text-indent: 0em;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.add li a.add:before {
	content: "\f067";
}
.add li a:hover,
.add-bar li a:hover,
.add li:first-child a {
	background: #26dd66;
	color: #fff;
}
.add-bar{
	overflow:hidden;
	right:0;
	z-index:5;
	width:0;
	height:0;
	transition: all 0.1s ease-in-out;
}

.add{
	transition: all 0.1s ease-in-out;
}
.add-bar li a{
	cursor: default;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align:center;
	color: #72739f;
	text-decoration:none; 
	position: relative;
	font-family:verdana;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}

.add li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.add-bar li:first-child a{
	height:5em;
	background: #26dd66;
	color: #fff; 
	line-height:5
}
.open{
	width:500px;
	height:700px;
}
@media all and (max-width: 500px) {
	.add{
		height:5em;
		width:100%;
	}
	.add li{
		display:inline-block;
		float:right;
	}
	.add-bar li a{
		width:100%;
	}
	.add-bar{
		width:100%;
		right:0;
		height:0;
	}    
	.open{
		width:100%;
		height:auto;
	}
}
@media screen and (max-height: 34em){
	.add li,
	.add-bar {
		font-size:70%;
	}
}
@media screen and (max-height: 34em) and (max-width: 500px){
	.add{
		height:3.5em;
	}
}
.add-bar:hover {
	background: rgba(0, 0, 0, 0.73);
}

.slide{
	width: 548px;
	box-shadow: none;
}

.add-bar form{
	padding: 20px;
	color: #fff;
}
.form-group{
	padding: 5px;
}
.formHolder {
	height: 570px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.edit-form{
	display: none;
	height: 570px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.file{
	visibility: hidden;
	position: absolute;
}
.input-group[class*="col-"]{
	padding-left: 14px;
}
/*.input-group-addon, .input-group-btn{
	left: -15px !important;
}*/
.input-group .form-control {
	width: 95%;
}
div.ucallout {
	float: right;
}

div.ucallout {
	box-shadow: 0px 0px 2px #999;
	min-height: 50px;
}

.ucallout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.ucallout.bottom::before {
	right: 55px;
	top: -20px;
	border-bottom: 14px solid #c9cacf;
}

#user_notification_center {
	background: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 4px solid #c9cacf;
	right: 0;
	top: 110px;
	position: absolute;
	width: 400px;
	height: 225px;
	z-index: 9999;
}
#user img{
	height: 110px;
	width: auto;
	margin-left: 78px;
    margin-top: 15px;
    border-radius: 50%;
	border: 4px solid #81827d;
}
#priv{
	text-align: left;
	color: #444;
}
#priv h4{
	padding-bottom: 25px;
}
#user h3 {
	padding: 5px;
	margin-top: 5px;
	color: #636677;
	margin-left: 102px;
	font-size: 18px;
}
#priv {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	height: 100%;
	background-color: #777;
	z-index: 10000;
}
#priv a:link {
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
#roles {
	position: absolute;
	left: 5px;
	bottom: 10px;
	width: 80%;
	text-align: left;
	z-index: 10001;
}
#roles h4{
	color: #b4b4b4;
}
#roles label{
	padding-left: 0;
	font-size: 16px;
	font-weight: normal;
	color: #6c77c9;
}
div.callout {
	float: right;
}

div.callout {
	box-shadow: 0px 0px 2px #999;
	min-height: 50px;
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.callout.bottom::before {
	right: 104px;
	top: -20px;
	border-bottom: 14px solid #4285f4;
}
#alert_notification_center{
	background: #e9e9e9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #3367d6;
	right: 0;
	top: 110px;
	position: absolute;
	width: 400px;
	height: 300px;
	z-index: 9999;
}
#alert h3 {
	text-align: center;
	padding: 5px;
	margin-top: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #4285f4;
}
#news {
	width: 100%;
	padding: 10px;
	height: 220px;
	overflow-y: auto;
}
#cbTitle {
	width: 15%;
}
#cbSubject {
	width: 85%;
}
#cbCenter {
	text-align: center;
}
#news button{
	margin: 0 auto;
	display: block;
}
#news .btn-info {
	background: #508eeb;
}
#noResults {
	padding-top: 50px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}