.additionalInfo {
	font-size: 16px;
	cursor: default;
}
.x-form-field {
    height: 23px !important;
}
.addbtn .x-btn-glyph {
    color: #18d932;
}
.removebtn .x-btn-glyph {
    color: #d91818;
}
.executebtn .x-btn-glyph {
	color: #1862d9;
}