<div id="user">
	<img src="../resources/images/user_profile.png">
	<h3>Admin</h3>
	<div id="priv">
		<h4>Privileges</h4>
		<a href="#">Read: <span class="label label-success label-as-badge">R</span></a><br></br>
		<a href="#">Write: <span class="label label-warning label-as-badge">W</span></a><br></br>
		<a href="#">Execute: <span class="label label-danger label-as-badge">X</span></a> 
	</div>
	<div id="roles">
		<h4>Roles</h4>
		<label class="label fa fa-shield"> Security</label><span>|</span>
		<label class="label fa fa-users"> Manager</label><span>|</span>
		<label class="label fa fa-gavel"> Moderator</label>
	</div>
</div>