<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/dash-menu.css"/>
	<script src="../../js/jquery.min.js"></script>
  	<script src="../../js/bootstrap.min.js"></script>
  	<script src="js/gtheader.js"></script>
</head>

<body>
	<div id="left">
		<img src="../../../resources/images/gt_logo2.png">
	</div>
	<div id="center">
		<img src="../../../resources/images/eis_logo3.png">
	</div>
	<div id="right">
		<ul>
			<li class="purple">
				<p><a target="_blank" href="../../../geospatial/index.html" class="fa fa-globe"> Geospatial</a></p>
			</li>
			<li class="blue">
				<p><a target="_blank" href="../../../systems/index.html" class="fa fa-sitemap"> Systems</a></p>
			</li>
			<li class="green">
				<p><a target="_blank" href="../../../products/index.html" class="fa fa-briefcase"> Products</a></p>
			</li>
<!--		<li class="red">
				<p><a href="#" class="fa fa-area-chart"> Metrics</a></p>
			</li>
			<li class="yellow">
				<p><a href="#" class="fa fa-cogs"> Operations</a></p>
			</li> -->
		</ul>
	</div>
	<div id="info">
		<div id="userInfo">
			<a href="#" class="fa fa-user user"><span class="userName">Admin</span></a>
		</div>
		<div id="notification">
			<a href="#" class="fa fa-bell alert"><span class="spot"></span></a>
		</div>
	</div>
</body>
</html>