<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/dash-menu.css"/>
</head>

<body>
	<div id="left">
		<img src="../../../resources/images/gt_logo2.png">
	</div>
	<div id="center">
		<img src="../../../resources/images/eis_logo3.png">
	</div>
	<div id="right">
		<ul>
			<li class="green">
				<p><a target="_parent" href="../../../products/index.html" class="fa fa-briefcase"> Products</a></p>
			</li>
			<li class="yellow">
				<p><a target="_parent" href="../../../geospatial/index.html" class="fa fa-globe"> Geospatial</a></p>
			</li>
<!-- 		<li class="red">
				<p><a href="#" class="fa fa-shield"> Projects</a></p>
			</li>
			<li class="blue">
				<p><a href="#" class="fa fa-area-chart"> Metrics</a></p>
			</li>
			<li class="purple">
				<p><a href="#" class="fa fa-cogs"> Operations</a></p>
			</li> -->
		</ul>
	</div>
</body>
</html>