html, body { height: 100%; margin: 0; padding: 0; }
#map {
	width: 100%;
	height: 100%;
}
.x-accordion-item .x-accordion-hd {
    background: #508eeb none repeat scroll 0 0;
    border-top-color: #508eeb;
    padding: 4px 5px 5px;
}
.metrics{
	position: absolute;
	right: 49%;
	bottom: 0;
	height: 40px;
	width: 40px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index:5; 
	overflow:hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.metrics-bar {
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.26);
	z-index:10; 
	overflow:hidden;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.metrics li a{
	display: block;
	height: 5em;
	width: 5em;
	line-height: 3.5em;
	right: 1em;
	text-align:center;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}
.metrics li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.metrics li a:before {
	font-family: FontAwesome;
	speak: none;
	text-indent: 0em;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.metrics li a.graph:before {
	content: "\f201";
}
.metrics li a:hover,
.metrics-bar li a:hover,
.metrics li:first-child a {
	background: #267fdd;
	color: #fff;
}
.metrics-bar{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow:hidden;
	bottom:0;
	z-index:5;
	width:0;
	height:0;
	transition: all 0.1s ease-in-out;
}

.metrics{
	transition: all 0.1s ease-in-out;
}
.metrics-bar li a{
	cursor: default;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align:center;
	color: #72739f;
	text-decoration:none; 
	position: relative;
	font-family:verdana;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}

.metrics li a{
	display: block;
	transition: background 0.1s ease-in-out;
}
.metrics-bar li:first-child a{
	height:2em;
	background: #267fdd;
	color: #fff; 
	line-height:2;
}
.open{
	width:100%;
	height:200px;
}
@media all and (max-width: 500px) {
	.metrics{
		height:5em;
		width:100%;
	}
	.metrics li{
		display:inline-block;
	}
	.metrics-bar li a{
		width:100%;
	}
	.metrics-bar{
		width:100%;
		height:0;
	}    
	.open{
		width:100%;
		height:auto;
	}
}
@media screen and (max-height: 34em){
	.metrics li,
	.metrics-bar {
		font-size:70%;
	}
}
@media screen and (max-height: 34em) and (max-width: 500px){
	.metrics{
		height:3.5em;
	}
}
.metrics-bar:hover {
	background: rgba(0, 0, 0, 0.73);
}
.slide{
	height: 248px;
	box-shadow: none;
}
.metrics-container{
	position: relative;
	clear: both;
}

#left_donut{
	position: relative;
	float: left;
	height: 190px;
	width: 30%;
}
#center_dash{
	float: left;
	margin-left: 20%;
	position: absolute;
	width: 40%;
}
#left_graph{
	float: left;
	height: 190px;
	width: 33%;
}
#center_graph{
	float: left;
	height: 190px;
	width: 33%;
}
#right_graph{
	float: left;
	height: 190px;
	width: 33%;
}
#right_donut{
	float: right;
	position: relative;
	height: 190px;
	width: 30%;
}
.active-cell {
	position: relative;
}
.active-cell:before{
	content: "\f0c8";
	font-family: FontAwesome;
	font-size: 16px;
	color: #00b300;
	position: absolute;
	padding-left: 35%;
	padding-top: 4px;
}
.inactive-cell {
	position: relative;
}
.inactive-cell:before{
	content: "\f0c8";
	font-family: FontAwesome;
	font-size: 16px;
	color: #ffff00;
	position: absolute;
	padding-left: 35%;
	padding-top: 4px;
}
.major-cell {
	position: relative;
}
.major-cell:before{
	content: "\f0c8";
	font-family: FontAwesome;
	font-size: 16px;
	color: #ff0000;
	position: absolute;
	padding-left: 35%;
	padding-top: 4px;
}